.dashboard {
  .statistique {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    .charts {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 835px;
    }

    .bottom-charts {
      display: flex;
      gap: 30px;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .keydata {
      width: 33%;
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
  }
}





@media screen and (max-width: 1400px) and (min-width: 768px) {
  .dashboard {
    .statistique {
      flex-direction: column;

      .keydata {
        max-width: 835px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 27px;
      }


    }
  }
}

@media screen and (max-width: 767px) and (min-width: 325px) {
  .dashboard {
    .statistique {

      display: block;

      .keydata {
        display: inline-grid;
        grid-template-columns: auto auto;
      }


      .bottom-charts {
        display: inline-grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin-bottom: 37px;

      }


    }
  }
}